<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

  <title><%= @title || 'The Video Store' %></title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> 
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="/stylesheets/poplite.css">
  <link rel="icon" href="/favicon.ico" />

</head>
<body>

<div id="layout">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
  <span></span>
  </a>

  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
  
      <ul class="pure-menu-list">
        <li class="pure-menu-item <%= active[0] %>"><a href="/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item <%= active[1] %>"><a href="/songs" class="pure-menu-link">Songs</a></li>          
        <li class="pure-menu-item <%= active[2] %>"><a href="/about" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item <%= active[3] %>"><a href="/contact" class="pure-menu-link">Contact</a></li>    
      </ul>
    </div>
  </div>

  <div id="menu">
    <div class="pure-menu">
      <a class="pure-menu-heading" href="/">PURESONG</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">&nbsp</a></li> 
      </ul>
    </div>
  </div>

  <div id="main">
    <div class="header">
      <h1>Songs by Sinatra</h1>
      <h2>A <bold>Poplite</bold> application</h2>   
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </div>
  
  <div class="footer f-box is-center">
    A Poplite example application. Brought to you by <a href="http://vizi.ca">Vizica Consulting</a>
  </div>
  
</div>

<script src="js/ui.js"></script>

</body>
</html>
